/* Timestamp: <2016-02-06 16:41:05 dmaus> */

body {
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    color: #222;
    margin: 0;
}

h1 {
    font-size: x-large;
    margin-top: 0;
}

h2 {
    font-size: large;
}

#header {
    font-size: large;
    padding: .5em;
    margin: 0;
    color: #ccc;
    background: #222;
}

#description {
    font-size:large;
    padding: 1em;
    font-style: italic;
}

#content {
    max-width: 60em;
    float: left;
    padding: 1em;
}

#sidebar {
    float: left;
    padding: 1em;
}

ul {
    list-style: none;
    padding-left: 0;
}

li:before {
    content: " • ";
}

dd + dt {
    margin-top: 1em;
}

#content div + div {
    margin-top: 1em;
}
